* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1vw;
}

.page-nav {
  background-color: #888;
  height: 4em;

}

/* LATEST ARTICLES */

.latest-articles-header {
  background-color: #aaa;
  height: 6em;
}

.latest-articles-grid {
  display: grid;
  grid-template-columns: auto auto;
  height: 50em;

  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.latest-article {
  background-color: #555;
  max-height: 25em;
}

/* LATEST POSTS */

.latest-posts {
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 80em;
  background-color: #aaa;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-top: 0.5em;
  width: 100%;
}

.latest-post-item {
  background-color: #555;
  height: 25em;
}

.tall-item {
  height: 40em;
}

.latest-posts-footer p {
  margin: 2em auto ;
  text-align: center;
  width: 15%;  
  /*width: auto;*/
  border-bottom: 3px solid red;
}

/* COMMUNITY LINKS */

.person-of-the-week {
  display: flex;
  height: 16em;

}

.person-of-the-week-img {
  width: 48em;
  background-color: #555;
}

.person-of-the-week-text {
  background-color: #888;
  width: auto;
}

.community-links {
  height: 60em;
  background-color: #8f8;
  margin-top: 1em;
}

.community-links-grid {
  font-size: 3em;
  color: #fff;
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  height: 85%;
  /* max-height: 40em; */
  background-color: #77f;
}

.community-link {
  background-color: #555;
  /* height: 10em; */
}

.community-links-footer {
  margin: 2em auto;
  width: 14%;
  border-bottom: 3px solid red;
  text-align: center;
}

/* CURATED POSTS */

.curated-posts {
  margin-top: 5em;
  background-color: #f88;
  height: 60em;

}

.curated-posts-grid {
  display: grid;
  height: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  color: #fff;
  font-size: 2em;
}

.curated-post {
  background-color: #555;
}

.curated-posts-footer {
  margin: 1em auto;
  text-align: center;
  width: 15%;
  border-bottom: 3px solid red;
}

/* PAGE FOOTER */

.page-footer {
  margin-top: 1em;
  background-color: #ccc;
  height: 40em;
}

.browse-topics {
  height: 5em;
  background-color: #aaa;
}

.browse-links {
  height: 15em;
  background-color: #575;
}

.browse-bottom {
  background-color: #aaa;
  height: 20em;
  display: flex;
}

.browse-bottom-left, .browse-bottom-right {
  width: 30%;
}

.browse-bottom-center {
  width: 40%;
  background-color: #999;
}

.browse-bottom-center-lower {
  background-color: #575;
  height: 50%;
}

.browse-bottom-center-upper {
  height: 50%;
}